body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0; /
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.container img {
    max-width: 95vw;
    max-height: 95vh; 
    object-fit: contain; 
}
